body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #fafafa;
  text-align: center;
  line-height: 1.4em;
}

.container {
  padding: 0;
  margin-top: 40px;
}

h1 {
  line-height: 2.2rem;
}

h2 {
  color: #555;
  font-size: 1.3rem;
}

h3 {
  color: #222;
  margin-top: 30px;
}

.footer {
  margin-top: 40px;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}

a {
  color: #2574a9;
}
